<div class="text-center">
	<ul class="pagination pagination-centered">
		<!-- Primera -->
		<li class="page-item"><a class="page-link" th:href="@{'?page=0'}"
			th:text="#{pagination.first}" th:if='${page.getNumber() > 0}'></a></li>
		<!-- Anterior (si la hay ) -->
		<li class="page-item" th:if='${page.getNumber()-1 >= 0}'><a
			class="page-link" th:href="@{'?page='+${page.getNumber()-1} }"
			th:text="${page.getNumber()}" th:id="${page.getNumber()}+pag"></a></li>
		<!-- Actual -->
		<li class="page-item active"><a class="page-link"
			th:href="@{'?page='+${page.getNumber()} }"
			th:text="${page.getNumber()+1}" th:id="${page.getNumber()+1}+pag"></a></li>
		<!-- Siguiente (si la hay) -->
		<li class="page-item"
			th:if='${page.getNumber()+1 <= page.getTotalPages()-1}'><a
			class="page-link" th:href="@{'?page='+${page.getNumber()+1} }"
			th:text="${page.getNumber()+2}" th:id="${page.getNumber()+2}+pag"></a></li>
		<!-- Última -->
		<li class="page-item"><a class="page-link"
			th:href="@{'?page='+${page.getTotalPages()-1}}"
			th:text="#{pagination.last}" th:if='${page.getNumber() < page.getTotalPages()-1}'></a></li>
	</ul>
</div>