<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2 th:text="#{offer.list.title}"></h2>
		<div class="table-responsive">
			<table class="table table-hover" 
				id="tableOffers">
				<thead>
					<tr>
						<th th:text="#{offer.list.title.title}"></th>
						<th th:text="#{offer.list.title.details}"></th>
						<th th:text="#{offer.list.title.price}"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.title}"></td>
						<td th:text="${offer.details}"></td>
						<td th:text="${offer.price}+€"></td>
						<td><a th:href="${'/offer/remove/' + offer.id}"
							th:text="#{offer.list.title.remove}" th:id="${offer.id}+list" class="ownOffersListId"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>